
.firstHeader {
    font-family:sans-serif;
    color: gray;
}
body {
    display:grid;
    min-height: 100%;
    background-image:url();
}
.mainstuff {
    grid-area:content;
}
.flex-container {
    display: flex;
    flex-direction: column;
}
img {
    width: 300px;
}