* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 12px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    padding: 40px 0;
}

#root {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: repeat(4, 25vh); */
    grid-template-areas:    "a a a a a a"
                            "b b b b b b"
                            "e e e g g g"
                            "h h h g g g";
}

#product-root {
    display: grid;
    grid-template-columns: repeat(auto-fit minmax(200px, 1fr));
}

.image-container {
    height: 15vh;
    width: 15vw;
    display: inline-block;
}

img {
    width: 100%;
}

.product-name {
    font-weight: bold;
    text-transform: capitalize;
}

.header {
    grid-area: a;
    background-color: rgb(255, 246, 223);
}

.instructions {
    grid-area: e;
}

.voting {
    grid-area: h;
}

.results {
    grid-area: g;
    max-height: 50vh;
}

.ul {
    display: flex;
    list-style-type: none;
    max-width: 45vw;
    flex-wrap: wrap;
}

li {
    padding: 10px;
}

.voting-h2 {
    text-align: center;
}

nav {
    grid-area: b;
    display: flex;
    padding: 25px 0;
    background-color: rgb(255, 226, 231, .5);
    justify-content: space-around;
    
}

nav a {
    text-decoration: none;
    font-size: 1.3em;
}

nav a:link {
    color: black;
}


/* nav a:visited {
    color: ;
} */

nav a:hover {
    background-color: rgb(255, 226, 231);
}

/* nav a:active {
    color: blue;
} */
