* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-size: 12px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    padding: 40px 0;
    font-family: 'Handlee', cursive, serif;
    font-size: 45px;
    color: #fceed2;
    text-shadow: black 4px 2px;
}

h2 {
    padding: 60px 0px 0 8px;
    font-family: 'Handlee', cursive, serif;
    font-size: 2.3em;
}

#root {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: repeat(4, 25vh); */
    grid-template-areas:    "a a a a a a"
                            "b b b b b b"
                            "e e e e e e"
                            "h h h h h h"
                            "g g g g g g";
}

#product-root {
    display: grid;
    grid-template-columns: repeat(auto-fit minmax(200px, 1fr));
}

.image-container {
    height: 30vh;
    width: 33vw;
    display: inline-block;
    background-color: white;
}

img {
    height: 100%;
    max-width: 100%;
    padding: 15px;
}

.product-name {
    font-weight: bold;
    text-transform: capitalize;
}

.header {
    grid-area: a;
}

.header,
.products-header {
    background-image: url("./img/rain-window.jpg");
    background-size: cover;
}

.instructions {
    grid-area: e;
    padding: 5vh 10vw;
    font-size: 1.3em;
    line-height: 1.6em;
}

.voting {
    grid-area: h;
}

.results {
    grid-area: g;
    max-height: 50vh;
}

.ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

li {
    padding: 20px;
    font-size: 1.3em;
    width: 270px;
}

nav {
    grid-area: b;
    display: flex;
    background-color: rgba(255, 255, 212, 0.68);
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    font-size: 1.3em;
    padding: 20px;
}

nav a:link {
    color: black;
}


nav a:visited {
    color: black;
}

/* nav a:hover {
    background-color: rgb(236, 249, 250);
    color: black;
} */

nav a:active {
    color: black;
}

.image-container p {
    font-size: 1.2em;
    font-family: 'Karla', sans-serif;
}

.chart-container {
    padding: 10px 50px;
}

.methodology p {
    padding: 10px 50px;
    text-align: left;
    font-size: 1.3em;
}

.instructions h2 {
    padding: 0 0 20px;
}